Customers file

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('Customers.csv',encoding='ISO-8859-1')
print(df)

In [ ]:
details(df)
#df.dtypes

In [ ]:
df['Gender']=df['Gender'].astype("category")
df['Birthday']=pd.to_datetime(df['Birthday'])

In [ ]:
print(df)

Exchange rates

In [ ]:
df1=pd.read_csv("Exchange_Rates.csv")
print(df1)

In [ ]:
df1.info()

In [ ]:
df1.isna().sum()

In [ ]:
df1.dtypes

In [ ]:
df1['Date']=pd.to_datetime(df1['Date'])

In [ ]:
df1.dtypes

In [ ]:
df1.duplicated().sum()

In [ ]:
Products

In [ ]:
df2=pd.read_csv("Products.csv")
df2

In [ ]:
df2.info()

In [ ]:
df2.isna().sum()

In [ ]:
df2.duplicated().sum()

In [ ]:
try:
    df2['Unit Cost USD']=df2['Unit Cost USD'].str.replace("$","",regex=False).str.replace(",","",regex=False).astype(float)
except ValueError as e:
    print(f"{e}")

In [ ]:
try:
    df2['Unit Price USD']=df2['Unit Price USD'].str.replace("$","",regex=False).str.replace(",","",regex=False).astype(float)
except ValueError as e:
    print(f"{e}")

In [ ]:
df2.info()

In [ ]:
sales_df=pd.read_csv("Sales.csv")
sales_df

In [ ]:
sales_df.info()

In [ ]:
sales_df.isna().sum()

In [ ]:
#Delivery date ha 49719 null values which more than 70% of data so it is better to be dropped
sales_df=sales_df.drop(columns=['Delivery Date'])

In [ ]:
sales_df.info()

In [ ]:
sales_df['Order Date']=pd.to_datetime(sales_df['Order Date'])

In [ ]:
sales_df.info()

In [ ]:
sales_df.isna().sum()

In [ ]:
sales_df.duplicated().sum()

In [ ]:
stores_df=pd.read_csv("Stores.csv")
stores_df

In [ ]:
stores_df.info()

In [ ]:
stores_df.isna().sum()

In [ ]:
stores_df['Open Date']=pd.to_datetime(stores_df['Open Date'])

In [ ]:
stores_df.info()

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  category
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](1), int64(1), object(7)
memory usage: 1.1+ MB

In [151]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [150]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   category
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: category(1), float64(2), int64(3), object(4)
memory usage: 180.2+ KB

In [149]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   CustomerKey    62884 non-null  int64
 4   StoreKey       62884 non-null  int64
 5   ProductKey     62884 non-null  int64
 6   Quantity       62884 non-null  int64
 7   Currency Code  62884 non-null  object
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 3.8+ MB

In [148]:
stores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [ ]:
df1.to_csv